{% extends 'Characters/Base.html' %}
{% block title %}
	Characters
{% endblock %}
{% block content %}
<div style="text-align: center">
        <p id="characters1">CHARACTERS</p>
    </div>
<div style="margin:20px auto; width: 80%; background-color: rgba(250, 248, 228, 1); text-align: center; padding:20px 0">

    <h2 class="ch_title">Айдие Айдарбеков</h2>
    <img src="/static/Characters/images/aidie.png" width="70%" height="500px">
    <p class="ch_text">Преподователь по предметам:Video electronics, Audio electronics, Computer Graphics</p>
</div>
<div style="margin:20px auto; width: 80%; background-color: rgba(250, 248, 228, 1); text-align: center; padding:20px 0">
    <h2 class="ch_title">Богдан Петров</h2>
    <img src="/static/Characters/images/bogdan.png" width="80%" height="500px">
    <p class="ch_text">Преподователь по предметам: Digital Jurnalism</p>
</div>
<div style="margin:20px auto; width: 80%; background-color: rgba(250, 248, 228, 1); text-align: center; padding:20px 0">
    <h2 class="ch_title">Диана Тойымбек</h2>
    <img src="/static/Characters/images/diana.png" width="80%" height="500px">
    <p class="ch_text">Преподователь по предметам: Political Science</p>
</div>
{% endblock content %}