{% extends 'Characters/Base.html' %}
{% block title %}
	Inventory
{% endblock %}
{% block content %}
<div style="text-align: center">
        <p id="characters1">INVENTORY</p>
    </div>
<div style="margin:0 auto; width: 70%; background-color: rgba(136, 136, 136, 1); text-align: center">
<table style="width:100%; border-spacing: 30px;background-color: rgba(136, 136, 136, 1)" >
  <tr>
    <th style=" background-color: rgba(136, 136, 136, 1); width: 15%; height: 150px">
      <div style="width: 80%; height: 80%; background-color:rgba(196, 196, 196, 1); text-align: center; margin:0 auto">
        <img src="/static/Characters/images/diana.png" width="100%" height="100%">
        <p class="ch_content">Количество: x1</p>
      </div>
    </th>
    <th style=" background-color: rgba(136, 136, 136, 1); width: 15%; height: 150px">
      <div style="width: 80%; height: 80%; background-color:rgba(196, 196, 196, 1); text-align: center; margin:0 auto">
        <img src="/static/Characters/images/aidie.png" width="100%" height="100%">
        <p class="ch_content">Количество: x1</p>
      </div>
    </th>
    <th style=" background-color: rgba(136, 136, 136, 1); width: 15%; height: 150px">
      <div style="width: 80%; height: 80%; background-color:rgba(196, 196, 196, 1); text-align: center; margin:0 auto">
        <img src="/static/Characters/images/bogdan.png" width="100%" height="100%">
        <p class="ch_content">Количество: x1</p>
      </div>
    </th>
  </tr>
  <tr>
    <th style=" background-color: rgba(136, 136, 136, 1); width: 15%; height: 150px">
      <div style="width: 80%; height: 80%; background-color:rgba(196, 196, 196, 1); text-align: center; margin:0 auto">
        <img src="/static/Characters/images/camera.png" width="100%" height="100%">
        <p class="ch_content">Количество: x3</p>
      </div>
    </th>
    <th style=" background-color: rgba(136, 136, 136, 1); width: 15%; height: 150px">
      <div style="width: 80%; height: 80%; background-color:rgba(196, 196, 196, 1); text-align: center; margin:0 auto">
        <img src="/static/Characters/images/micro.png" width="100%" height="100%">
        <p class="ch_content">Количество: x4</p>
      </div>
    </th>
    <th style=" background-color: rgba(136, 136, 136, 1); width: 15%; height: 150px">
      <div style="width: 80%; height: 80%; background-color:rgba(196, 196, 196, 1); text-align: center; margin:0 auto">
        <img src="/static/Characters/images/book.png" width="100%" height="100%">
        <p class="ch_content">Количество: x3</p>
      </div>
    </th>
  </tr>
  <tr>
    <th style=" background-color: rgba(136, 136, 136, 1); width: 15%; height: 150px">
      <div style="width: 80%; height: 80%; background-color:rgba(196, 196, 196, 1); text-align: center; margin:0 auto">
        <img src="/static/Characters/images/item4.png" width="100%" height="100%">
        <p class="ch_content">Количество: x6</p>
      </div>
    </th>
    <th style=" background-color: rgba(136, 136, 136, 1); width: 15%; height: 150px">
      <div style="width: 80%; height: 80%; background-color:rgba(196, 196, 196, 1); text-align: center; margin:0 auto">
        <img src="/static/Characters/images/item5.png" width="100%" height="100%">
        <p class="ch_content">Количество: x2</p>
      </div>
    </th>
    <th style=" background-color: rgba(136, 136, 136, 1); width: 15%; height: 150px">
      <div style="width: 80%; height: 80%; background-color:rgba(196, 196, 196, 1); text-align: center; margin:0 auto">
      </div>
    </th>
  </tr>
  <tr>
    <th style=" background-color: rgba(136, 136, 136, 1); width: 15%; height: 50px">

    </th>
    <th style=" background-color: rgba(136, 136, 136, 1); width: 15%; height: 50px">

    </th>
    <th style=" background-color: rgba(136, 136, 136, 1); width: 15%; height: 50px">

    </th>
  </tr>
</table>
</div>
{% endblock content %}